{% extends 'base.html.twig' %}

{% block page_content %}
    {# message flash ---------------------------------- #}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {# message flash ---------------------------------- #}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Liste des clients</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p></p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr class="headings">
                            <th class="columns-title" style="display: table-cell">Entreprise</th>
                            <th class="columns-title" style="display: table-cell">Activité</th>
                            <th class="columns-title" style="display: table-cell">Téléphone</th>
                            <th class="columns-title" style="display: table-cell">Email</th>
                            <th class="columns-title" style="display: table-cell">Contact</th>
                            <th class="columns-title" style="display: table-cell">Téléphone portable</th>
                            <th class="columns-title" style="display: table-cell">Email</th>
                            <th class="column-title no-link last" style="display: table-cell">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for company in companies %}
                            <tr >
                                <td>{{ companies.nomSociete }}</td>
                                <td></td>
                                <td>{{ companies.telephonefixe }}</td>
                                <td>{{ companies.email }}</td>
                                <td>{{ companies.employee.nom }} {{ companies.employee.prenom }}</td>
                                <td>{{ companies.employee.telephone_portable }}</td>
                                <td>{{ companies.employee.email }}</td>
                                <td>
                                    <a href="{{ path('company_show', { 'id': companies.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Détail</a>
                                    <a href="{{ path('company_edit', { 'id': companies.id }) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Modifier</a>
                                    <a href="{{ path('company_delete', { 'id': companies.id }) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('company_new') }}">Create a new company</a>
        </li>
    </ul>
{% endblock %}
