{% extends 'base.html.twig' %}

{% block page_content %}

    {# message flash ---------------------------------- #}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {# message flash ---------------------------------- #}

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Liste des clients</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p></p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table">
                        <thead>
                        <tr class="headings">
                            <th class="columns-title" style="display: table-cell">Nom</th>
                            <th class="columns-title" style="display: table-cell">Prenom</th>
                            <th class="columns-title" style="display: table-cell">Telephone portable</th>
                            <th class="columns-title" style="display: table-cell">Telephone fixe</th>
                            <th class="columns-title" style="display: table-cell">Email</th>
                            <th class="columns-title" style="display: table-cell">Datenaissance</th>
                            <th class="columns-title" style="display: table-cell">Adresse</th>
                            <th class="column-title no-link last" style="display: table-cell">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for customer in customers %}
                            <tr >
                                <td>{{ customer.civilite }} {{ customer.nom }}</td>
                                <td>{{ customer.prenom }}</td>
                                <td>{{ customer.telephonePortable }}</td>
                                <td>{{ customer.telephoneFixe }}</td>
                                <td>{{ customer.user.email }}</td>
                                <td>{% if customer.dateNaissance %}{{ customer.dateNaissance|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ customer.adresse1 }}{{ customer.adresse2 }}</td>
                                <td>
                                    <a href="{{ path('customer_show', { 'id': customer.id }) }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Détail</a>
                                    <a href="{{ path('customer_edit', { 'id': customer.id }) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Modifier</a>
                                    <a href="{{ path('customer_delete', { 'id': customer.id }) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <ul>
        <li>
            <a href="{{ path('customer_new') }}">Create a new customer</a>
        </li>
    </ul>
{% endblock %}
