{% extends 'base.html.twig' %}


{% block page_title %}CLIENT{% endblock page_title %}
{% block page_content %}
    {% form_theme form 'form/fields.html.twig' %}
    <!-- page content -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Formulaire de création</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                        {{ form_start(form, {'attr': {novalidate: 'novalidate', 'class': 'form-horizontal form-label-left'}}) }}
                            <span class="section">Généralité</span>
                           
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.civilite.vars.id }}" >{{ form_label(form.civilite) }} <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.civilite) }}
                                    {{ form_errors(form.civilite) }}
                                </div>
                            </div>
                            <div class="item form-group">{#  dump(form.villesFranceFree.vars) #}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.nom.vars.id }}" >{{ form_label(form.nom) }} <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.nom) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>
                            <div class="item form-group">{# dump(form.nom.vars.id) #}
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.prenom.vars.id }}" >{{ form_label(form.prenom) }} <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.prenom) }}
                                    {{ form_errors(form.prenom) }}
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.telephonePortable.vars.id }}">{{ form_label(form.telephonePortable) }}<span>&nbsp;</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.telephonePortable) }}
                                    {{ form_errors(form.telephonePortable) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.telephoneFixe.vars.id }}">{{ form_label(form.telephoneFixe) }}<span>&nbsp;</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.telephoneFixe) }}
                                    {{ form_errors(form.telephoneFixe) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.dateNaissance.vars.id }}">{{  form_label(form.dateNaissance) }}<span>&nbsp;</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.dateNaissance) }}
                                    {{ form_errors(form.dateNaissance) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form_label(form.pmr) }}</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ form_widget(form.pmr) }}
                                      {{ form_errors(form.pmr) }}
                                </div>
                            </div> 
                            <span class="section">Coordonnée</span>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.adresse1.vars.id }}">{{  form_label(form.adresse1)  }} <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.adresse1) }}
                                        {{ form_errors(form.adresse1) }}
                                    </div>
                                </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.adresse2.vars.id }}">{{  form_label(form.adresse2)  }} <span>&nbsp;</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.adresse2) }}
                                    {{ form_errors(form.adresse2) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.villeCodePostal.vars.id }}">{{  form_label(form.villeCodePostal)  }} <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.villeCodePostal) }}
                                    {{ form_errors(form.villeCodePostal) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.villesFranceFree.vars.id }}">{{  form_label(form.villesFranceFree)  }} <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.villesFranceFree) }}
                                    {{ form_errors(form.villesFranceFree) }}
                                </div>
                            </div>
                            <span class="section">Connexion</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ form.user.email.vars.id }}">{{ form_label(form.user.email) }} <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.user.email) }}
                                    {{ form_errors(form.user.email) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                    <label for="password" class="control-label col-md-3"  for="{{ form.user.password.first.vars.id }}">
                                        {{  form_label(form.user.password.first)  }} <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.user.password.first) }}
                                        {{ form_errors(form.user.password.first) }}
                                    </div>
                            </div>
                            <div class="item form-group">
                                <label for="password" class="control-label col-md-3"  for="{{ form.user.password.second.vars.id }}">
                                    {{  form_label(form.user.password.second)  }} <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.user.password.second) }}
                                    {{ form_errors(form.user.password.second) }}
                                 </div>
                            </div>
                            <span class="section">Divers</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"  for="{{ form.note.vars.id }}">{{  form_label(form.note)  }}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.note) }}
                                    {{ form_errors(form.note) }}
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            {{ form_label(form.user.username) }}
                            {{ form_label(form.user.roles) }}
                        {{ form_end(form) }}


                        </div>
                    </div>
                </div>
            </div>

    <!-- /page content -->

{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>


    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
    <!-- jquery.inputmask -->
    <script src="{{ asset('assets/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>



    <script>
        $(document).ready(function(){
            $('#{{ form.villeCodePostal.vars.id }}').change(function(){
                $.ajax({
                    url:'{{ path('customer_new') }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "some_var_name": this.value
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log("value : " +data.output);
                        console.dir(data.output);
                        var addhtml = '<option value=""></option>';
                        $.each(data.output, function(id, ville) {
                            addhtml += '<option value="' + id +'">' + ville + '</option>' ;
                        });


                         $('#{{ form.villesFranceFree.vars.id }}').empty();

                        $('#{{ form.villesFranceFree.vars.id }}').append(addhtml);;


                    }
                });
                return false;
            }
            )
        });
    </script>

{% endblock javascripts %}